body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}

/* main_content styles */

.main_content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* about styles */

.about {
    margin-bottom: 30px;
}

.about_position {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 20px;
}

.about_name {
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #000000;
margin-bottom: 25px;
}

.about_discription {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
width: 400px;
}

/* project styles */


.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

/* work styles */

.projects_list {
padding: 0%;
margin-left: 20px;
}


.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    color: #595959;
}
.project_link {
    margin-left: 10px;
}

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.work {
    margin-bottom: 45px;
}

.worl_position {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 10px;
}

.organization,
.work_link

 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0px;
    margin-left: 20px;
}

.worklist_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


.departament {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}
/* sidebar styles */

.university,
.university_link
 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.education_period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.sidebar {
    background-color: #2b1e39;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}
.contacts, 
.tech_skills,
.soft_skills {
margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* or 171 */
    color: #FFFFFF;
    margin-right: 10px;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #FB6D3A;
}

.techskills_list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 20px;
}

.softskills_list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 20px;
}

.techskills_item {
    color: #FB6D3A;
    font-weight: bold;
    size: 14px;
    line-height: 20px;
}

.techskills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.softskills_item {
    color: #FB6D3A;
}

.softskills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}